:root {
    --bg-color: white;
    --text-color: black;
    --faint: rgb(52, 52, 52);
    --mid-grey: #777777
    --outside: rgb(19, 19, 20);
}

@media (prefers-color-scheme: dark) {
    :root {
        --bg-color: black;
        --text-color: white;
    }
}
  
body {
    background-color: var(--bg-color);
    color: var(--text-color);
    font-family: 'Tahoma', sans-serif;
    min-width: 300px;
    font-size: 1em;
    padding: 3%;
    transition: color 0.5s ease;
}

h1 {
    font-family: 'Sen', sans-serif;
    font-weight: normal;
    text-transform: lowercase;
}

h2{
    font-family: 'Tahona', sans-serif;
    text-transform: uppercase;
    font-size: 1.3em;
    margin-top: 50px;
}

h3{
    font-family: 'Tahona', sans-serif;
    text-transform: uppercase;
    font-size: 1em;
    font-weight: bold;
    margin-top: 30px;

}

.titles {
    text-align: right;
    font-size: 2em; /* Set font size to 16 pixels */
    line-height: 0.3;
    font-weight: bold;
}

html {
    background-color: var(--bg-color); /* Change this to your desired color */
}

@media screen and (min-width: 800px) {
    body {
        position: absolute;
        left: 50%;
        transform: translate(-50%, 0%);
        max-width: 700px;
    }
    html {
        background-color: var(--bg-color); /* Change this to your desired color */
        padding-top: 1%;
    }
}


a {
    color: inherit; /* Use the color of the parent element (usually black) */
    text-decoration: none; /* Remove the underline */
}

.icons {
    font-size: 0.7em;
    display: none;
}

.ytplayer {
    width: 100%;
    height: 100%;
}

.sticky {
    position: sticky;
    /*
    background: linear-gradient(to bottom, 
        var(--bg-color) 0%,
        var(--bg-color) 80%, 
        transparent 100% 
    );
    */
    z-index: 1;
    background: var(--bg-color);
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding-top: 30px;
    padding-bottom: 30px;
}

.spacer {
    margin-bottom: 180px;
}

.soundcloud {
    margin-top: 3%;
    text-align: center;
}

footer {
    margin-top: 50px;
    color: var(--faint)
}

.page {
    padding-bottom: 4%;
}

.min-height-right {
    min-height: 170px;
}

/* list */
ul {
    list-style-position: inside; 
    padding: 0;
}


/* table stuff */
table, td, th {
    border-collapse: collapse;
    border: none;
}

table {
    font-size: 1.2em;
}

td {
    padding-top: 4%;
}

/* circle images */
.circle-image-profile {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    overflow: hidden;
    float: right;
    margin-left: 20px;
    margin-bottom: 20px;
    
}





/* pedal dumb grid */
.container {
    margin-top: 30px;
    display: grid;
    grid-template-columns: 1fr 120px; /* Equal width columns; adjust as needed */
    /* Adjust gap between elements */
  }

.right {
    margin-top: 2.1em;
    text-align: right;
}

.right img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    overflow: hidden;
}
  
.container h3 {
    margin-top: 0px;
}

/* two image intelligent stacking */
.intelligent-stack {
    display: grid;
    grid-template-columns: 1fr; /* Single column for screens <= 600px */
  }

@media screen and (min-width: 800px) {
    .intelligent-stack {
        grid-template-columns: repeat(2, 1fr); /* Two equally spaced columns */ 
    }
    }

/* 16 by 9 definition*/
.container-16-9 {
    margin-top: 3%;
    text-align: center;
    position: relative;
    width: 99%;
    padding-bottom: 56.25%; /* 16:9 aspect ratio (9 / 16 * 100%) */
    z-index: 0;
}

.container-16-9 iframe , .container-16-9 img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}


